/* DESKTOP */

@media screen and (min-width: 1024px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
	}

	body {
		max-width: 1920px;
		width: 100%;
		font-size: 16px;
		position: relative;
	}

	p {
		line-height: 120%;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
	}
	.section_title p,
	.landing_section p {
		width: 75%;
		font-size: 1.5rem;
		padding-top: 15px;
	}

	/* Landing section */

	.landing_section {
		width: 100%;
		height: 530px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: #401177;
		padding: 140px min(6vw, 140px) 30px min(6vw, 140px);
		background-color: #efefef;
	}

	.landing_section h1,
	p,
	button {
		padding: 30px 0;
		z-index: 1;
	}

	.landing_section img {
		max-width: 500px;
		position: absolute;
		bottom: 5px;
		right: min(6vw, 140px);
	}

	.landing_buttons {
		display: flex;
		flex-flow: row wrap;
	}

	.landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	/* FAQ section */

	.faq_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		color: #401177;
		padding: 50px min(6vw, 140px);
	}

	.faq_container {
		width: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		padding: 30px 0;
	}

	.faq_container ul {
		width: 100%;
		border: none;
		box-shadow: none;
	}

	.faq_container li {
		margin-bottom: 10px;
	}

	.collapsible-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #533ca8;
		color: #fff;
		border-radius: 10px;
		transition: 0.5s;
	}

	.collapsible-header .material-icons {
		transition: 0.5s;
		pointer-events: none;
		user-select: none;
	}

	.collapsible-body {
		color: #401177;
		background-color: #efefef;
		border: none;
		line-height: 150%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	/* Contact section */

	.contact_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #533ca8;
		color: white;
		padding: 50px min(6vw, 140px);
		padding-bottom: 100px;
	}

	/* CTA section */

	.cta_section {
		position: relative;
		top: -125px;
		background-color: #401177;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -350px;
		background-color: #401177;
	}
}

/* MOBILE */

@media screen and (max-width: 1023px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
		font-size: 12px;
		overflow-x: hidden;
	}

	body {
		max-width: 100vw;
		width: 100%;
		position: relative;
		overflow-x: hidden;
	}

	p {
		line-height: 120%;
		font-size: 1.5rem;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 2rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 30px;
	}
	.section_title p {
		font-size: 1.5rem;
	}

	/* Landing section */

	.landing_section {
		width: 100%;
		height: 630px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #401177;
		padding: 40px 3vw 30px 3vw;
		background-color: #efefef;
	}

	.landing_section h1,
	p,
	button {
		padding: 30px 0;
		z-index: 1;
	}

	.landing_section img {
		max-width: 400px;
		position: absolute;
		bottom: 5px;
		right: min(6vw, 140px);
	}

	.landing_buttons {
		display: flex;
		flex-direction: column;
	}

	.landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	/* FAQ section */

	.faq_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		color: #401177;
		padding: 30px 3vw;
	}

	.faq_container {
		width: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		padding: 30px 0;
	}

	.faq_container ul {
		width: 100%;
		border: none;
		box-shadow: none;
	}

	.faq_container li {
		margin-bottom: 10px;
	}

	.collapsible-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fb9505;
		color: white;
		border-radius: 10px;
		transition: 0.5s;
	}

	.collapsible-header .material-icons {
		transition: 0.5s;
		pointer-events: none;
		user-select: none;
	}

	.collapsible-body {
		color: #401177;
		background-color: #efefef;
		border: none;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	/* Contact section */

	.contact_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #533ca8;
		color: white;
		padding: 30px 3vw;
		padding-bottom: 150px;
	}

	/* CTA section */

	.cta_section {
		position: relative;
		top: -125px;
		background-color: #401177;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -830px;
		background-color: #401177;
	}
}
