/* DESKTOP */

@media screen and (min-width: 1024px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
	}

	body {
		max-width: 1920px;
		width: 100%;
		font-size: 16px;
		position: relative;
	}

	p {
		line-height: 120%;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
	}
	.section_title p,
	.landing_section p {
		width: 75%;
		font-size: 1.5rem;
		padding-top: 15px;
	}





    	/* CTA section */

	.cta_section {
		position: relative;
		top: -125px;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -350px;
		background-color: #533ca8;
	}


}



/* MOBILE */

@media screen and (max-width: 1023px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
		font-size: 12px;
	}

	body {
		max-width: 100vw;
		width: 100%;
		position: relative;
		overflow-x: hidden;
	}

	p {
		line-height: 120%;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 2rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 30px;
	}
	.section_title p {
		font-size: 1.5rem;
	}



    	/* CTA section */

	.cta_section {
		position: relative;
		top: -125px;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -750px;
		background-color: #533ca8;
	}

}