/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/* GENERAL */

@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/MontserratRegular.eot");
	src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff"),
		url("../fonts/MontserratRegular.ttf") format("truetype"), url("../fonts/MontserratRegular.svg#MontserratRegular") format("svg");
}

@font-face {
	font-family: "MontserratMedium";
	src: url("../fonts/MontserratMedium.eot");
	src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"),
		url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/MontserratBold.eot");
	src: url("../fonts/MontserratBold.eot") format("embedded-opentype"), url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff"),
		url("../fonts/MontserratBold.ttf") format("truetype"), url("../fonts/MontserratBold.svg#MontserratBold") format("svg");
}

@font-face {
	font-family: "MontserratExtraBold";
	src: url("../fonts/MontserratExtraBold.eot");
	src: url("../fonts/MontserratExtraBold.eot") format("embedded-opentype"), url("../fonts/MontserratExtraBold.woff2") format("woff2"), url("../fonts/MontserratExtraBold.woff") format("woff"),
		url("../fonts/MontserratExtraBold.ttf") format("truetype"), url("../fonts/MontserratExtraBold.svg#MontserratExtraBold") format("svg");
}
@font-face {
	font-family: "MontserratThin";
	src: url("../fonts/MontserratThin.eot");
	src: url("../fonts/MontserratThin.eot") format("embedded-opentype"), url("../fonts/MontserratThin.woff2") format("woff2"), url("../fonts/MontserratThin.woff") format("woff"),
		url("../fonts/MontserratThin.ttf") format("truetype"), url("../fonts/MontserratThin.svg") format("svg");
}

.btn,
.btn-large,
.btn-small {
	background-color: #fb9505 !important;
	border-radius: 15px;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
	background-color: #f5b848 !important;
}

.purple_btn {
	background-color: #401177 !important;
}

.purple_btn:hover {
	background-color: #533ca8 !important;
}

.white_btn {
	background-color: white !important;
	color: #401177;
}

.white_btn:hover {
	background-color: #533ca8 !important;
	color: white;
}

.color_orange {
	color: #fb9505 !important ;
}

.color_purple {
	color: #401177 !important;
}

html {
	scroll-behavior: smooth;
}

/* Card model 1 :
 <div class="card_model_1">
                    <h3></h3>
                    <img src="" alt="">
                    <p></p>
                </div>*/

.card_model_1 {
	position: relative;
	width: 30%;
	min-width: 290px;
	height: 320px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	border-radius: 30px;
	box-sizing: border-box;
	outline: thick solid #533ca8;
}

.card_model_1 img {
	width: 130px;
	margin: 20px 0;
}

.card_model_1 h3 {
	width: 85%;
	min-height: 40px;
	display: flex;
	align-items: center;
	align-self: flex-start;
	padding-left: 20px !important;
	font-size: 1rem;
	background-color: #533ca8;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border: thin solid #533ca8;
	box-sizing: border-box;
	text-transform: uppercase;
}

.card_model_1 p {
	color: #401177;
	font-size: 0.9rem !important;
	text-align: center;
	padding: 0 20px;
}

@media screen and (max-width: 1023px) {
	.card_model_1 {
		width: 60%;
		min-width: 290px;
	}

	.card_model_1 p {
		font-size: 1.2rem !important;
	}
}

/* Card model 2 (challenge) : 
  <div class="card_model_2">
                    <p class="card_model_2_header"></p>
                    <div class="card_model_2_content">
                        <h3></h3>
                        <img src="" alt="">
                        <p class="card_model_2_provider"></p>
                        <div class="card_model_2_time">
                            <p>30</p>
                            <p>h</p>
                        </div>
                    </div>
                    <div class="card_model_2_level">
                        <!-- appliquer la classe "level_on" sur le niveau approprié -->
                        <p class="card_model_2_level_1">Débutant</p>
                        <p class="card_model_2_level_2 level_on">Intermédiaire</p>
                        <p class="card_model_2_level_3">Expert</p>
                    </div>
                </div>*/

@media screen and (min-width: 1024px) {
	.card_model_2 {
		position: relative;
		flex-basis: 30%;
		min-width: 350px;
		height: 350px;
		max-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		border-radius: 30px;
		margin: 30px 5px;
	}

	.card_model_2_header {
		width: 100%;
		background-color: #fb9505;
		font-family: "MontserratBold", sans-serif;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		padding: 10px 0;
		border-radius: 30px 30px 0 0;
	}

	.card_model_2_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color: #401177;
		flex-grow: 2;
	}

	.card_model_2_content h3 {
		font-size: 1.2rem;
		text-align: center !important;
		padding: 0 20px 0 20px !important;
		line-height: normal;
	}

	.card_model_2_content img {
		max-height: 100px;
	}

	.card_model_2_provider {
		font-size: 1.2rem;
	}

	.card_model_2_time {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url("../images/challenge_time.svg");
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 1rem;
	}

	.card_model_2_level {
		width: 80%;
		height: 40px;
		display: flex;
		justify-content: space-around;
		align-self: flex-end;
		color: #401177;
		border-radius: 30px 0;
	}

	.card_model_2_level p {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.card_model_2_level_1 {
		border-top-left-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.card_model_2_level_2 {
		background-color: #533ca8;
		flex-grow: 1;
	}

	.card_model_2_level_3 {
		border-bottom-right-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.level_on {
		color: white;
		background-color: #fb9505;
	}
}

@media screen and (max-width: 1023px) {
	.card_model_2 {
		position: relative;
		flex-basis: 30%;
		min-width: min(350px, 90vw);
		height: 350px;
		max-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		border-radius: 30px;
		margin: 30px 15px;
	}

	.card_model_2_header {
		width: 100%;
		background-color: #fb9505;
		font-family: "MontserratBold", sans-serif;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		padding: 10px 0;
		border-radius: 30px 30px 0 0;
	}

	.card_model_2_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color: #401177;
		flex-grow: 2;
	}

	.card_model_2_content h3 {
		font-size: 1.2rem;
		text-align: center !important;
		padding: 0 20px 0 20px !important;
		line-height: normal;
	}

	.card_model_2_content img {
		max-height: 100px;
	}

	.card_model_2_provider {
		font-size: 1.2rem;
	}

	.card_model_2_time {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url("../images/challenge_time.svg");
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 1rem;
	}

	.card_model_2_level {
		width: 80%;
		height: 40px;
		display: flex;
		justify-content: space-around;
		align-self: flex-end;
		color: #401177;
		border-radius: 30px 0;
	}

	.card_model_2_level p {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.card_model_2_level_1 {
		border-top-left-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.card_model_2_level_2 {
		background-color: #533ca8;
		flex-grow: 1;
	}

	.card_model_2_level_3 {
		border-bottom-right-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.level_on {
		color: white;
		background-color: #fb9505;
	}
}

/*Header desktop*/

@media screen and (min-width: 1024px) {
	header {
		width: 100%;
		height: 120px;
		background-image: url("../images/header_background.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: right top;
		position: sticky;
		z-index: 2;
		top: 0;
		padding: 0 min(6vw, 140px);
	}

	.top_menu_bar {
		height: 40px;
		width: 100%;
		background-color: #222222;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		padding: 0 min(6vw, 140px);
	}
	.top_menu_bar_social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 168px;
	}

	.top_menu_bar_social img {
		height: 16px;
	}

	.top_menu_bar_links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	.top_menu_bar_links a {
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-size: 14px;
		padding: 0 0 0 70px;
	}

	.top_menu_bar_links img {
		height: 16px;
		padding-right: 10px;
	}
	.nav_container_mobile {
		display: none;
	}

	.nav_container {
		height: 58%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: sticky;
	}

	.nav_logo_studinventive {
		height: 25px;
	}

	@media screen and (max-width: 1349px) {
		.nav_logo_studinventive {
			height: 0;
		}
		.nav_logo_rocket {
			height: 50px;
		}
	}

	.current_page {
		font-family: "MontserratBold", sans-serif;
		color: #401177;
	}

	nav {
		height: 58%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}

	nav ul {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		margin-top: 6px;
		justify-content: flex-end;
		font-family: "Montserrat", sans-serif;
		font-size: 1.25rem;
		text-transform: uppercase;
	}

	nav ul a:hover {
		background-color: transparent;
		color: #401177;
	}

	nav ul a:focus {
		outline: none;
	}

	nav ul a {
		padding: 0 15px 0 0;
		color: black;
		font-size: 14px;
	}

	.nav_li_campus a {
		color: white;
		padding: 0 0 0 140px;
	}

	#dropdown1 a {
		color: black;
	}

	nav .dropdown-content {
		min-height: 340px;
		min-width: max-content;
		overflow-y: visible;
		box-shadow: 0 1px 1px 0 #533ca8, 0 1px 1px -2px #533ca8, 0 1px 5px 0 #533ca8;
		border-radius: 10px;
	}

	nav .dropdown-content li {
		min-height: 0px;
	}

	nav .dropdown-content a {
		padding: 10px;
		font-size: 14px;
		text-transform: capitalize;
	}

	nav .dropdown-content a:hover {
		color: white !important;
		background-color: transparent;
	}

	nav .dropdown-content li:hover {
		background-color: #533ca8;
	}
}

/*Header mobile*/

@media screen and (max-width: 1023px) {
	header {
		width: 100%;
		height: 120px;
		background-image: url("../images/header_background_mobile.svg");
		background-repeat: no-repeat;
		background-size: 1023px;
		background-position: right top -40px;
		position: sticky;
		z-index: 2;
		top: 0;
		padding: 0 3vw;
	}

	.top_menu_bar {
		display: none;
	}

	.nav_container_mobile_logo {
		padding-top: 25px;
		width: clamp(160px, 50%, 300px);
	}

	.nav_container_mobile_social {
		height: 30px;
		padding: 5px;
		border-radius: 5px;
		background-color: #fb9505;
	}

	.sidenav-overlay {
		z-index: 1;
	}

	.subheader_row {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.close_button_nav {
		max-height: 20px;
		color: #fb9505;
		background-image: url("../images/close_x.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}

	.close_button_nav:hover {
		background-color: white !important;
	}

	.user-view {
		height: 80px;
		background-image: url("../images/logo_rocket.svg");
		background-repeat: no-repeat;
		background-position: right 32px center;
		background-size: 50px;
	}

	.sidenav-trigger .material-icons {
		position: absolute;
		right: 20px;
		top: 15px;
		color: white;
		font-size: 36px !important;
	}

	.sidenav ul .collapsible-header {
		padding-left: 32px;
	}

	.sidenav ul .collapsible-body ul {
		padding-left: 32px;
	}

	.sidenav ul .collapsible-body ul:hover {
		background-color: white !important;
	}

	.nav_container {
		display: none;
	}

	.current_page {
		font-family: "MontserratBold", sans-serif;
		color: #401177 !important;
	}
}

/*Footer desktop*/

@media screen and (min-width: 1024px) {
	footer {
		height: 550px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
		background-image: url("../images/footer_background.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: left top;
		color: white;
	}

	.footer_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 100px min(6vw, 140px) 0 min(6vw, 140px);
	}

	.footer_container_left,
	.footer_container_middle,
	.footer_container_right {
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.footer_container li,
	.footer_container_left div,
	.footer_container_left div a,
	.footer_container_left div p {
		padding-bottom: 15px;
	}

	footer a {
		color: white;
	}

	.footer_social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 168px;
	}

	.footer_social img {
		height: 16px;
	}

	.footer_logo_studinventive {
		width: 230px;
		padding-top: 3px;
	}
	.footer_logo_studinventive,
	footer h3 {
		margin-bottom: 30px;
	}

	.footer_white_line {
		content: "";
		height: 100%;
		border: thin solid white;
	}

	.footer_container_bottom {
		text-align: center;
		padding: 0 min(6vw, 140px);
	}

	.copyright {
		background-color: #1a072f;
		width: 100%;
		height: 70px;
		padding: 0 min(6vw, 140px);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.copyright p {
		padding: 0;
	}
}

/*Footer mobile*/

@media screen and (max-width: 1023px) {
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: transparent;
		background-image: url("../images/footer_background_mobile.svg");
		background-repeat: no-repeat;
		background-size: 1023px;
		background-position: left top;
		color: white;
		background-color: #401177;
	}

	.footer_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 50px 3vw 3vw 3vw;
	}

	.footer_container_left,
	.footer_container_middle,
	.footer_container_right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
		padding: 15px;
	}

	.footer_container li,
	.footer_container_left div,
	.footer_container_left div a,
	.footer_container_left div p {
		padding-bottom: 15px;
	}

	footer a {
		color: white;
	}

	.footer_social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 168px;
	}

	.footer_social img {
		height: 16px;
	}

	.footer_logo_studinventive {
		width: 230px;
		padding-top: 3px;
	}
	.footer_logo_studinventive,
	footer h3 {
		margin-bottom: 30px;
	}

	.footer_white_line {
		content: "";
		width: 80%;
		border: thin solid white;
	}

	.footer_container_bottom {
		text-align: center;
		padding: 15px 3vw;
	}

	.copyright {
		background-color: #1a072f;
		width: 100%;
		height: 70px;
		padding: 0 3vw;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.copyright p {
		padding: 0;
	}
}

/* CTA Desktop */
@media screen and (min-width: 1024px) {
	.cta_section {
		color: white;
		background-color: #533ca8;
		padding: 100px min(6vw, 140px);
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}

	.cta_section_content {
		display: flex;
		align-items: center;
		padding-left: 150px;
	}

	.cta_section_content img {
		width: 150px;
		transform: rotate(-90deg);
		position: relative;
		right: 0;
		bottom: -30px;
	}
}

/* CTA Mobile */
@media screen and (max-width: 1023px) {
	.cta_section {
		color: white;
		background-color: #533ca8;
		padding: 30px 3vw 100px 3vw;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	.cta_section_content {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	.cta_section_content img {
		width: 150px;
		position: relative;
		right: 0;
		bottom: -30px;
	}
}

/* SECTION PADDING */
@media screen and (min-width: 1024px) {
	.section_padding {
		padding: 50px min(6vw, 140px);
	}
}
@media screen and (max-width: 1023px) {
	.section_padding {
		padding: 30px 3vw;
	}
}

/* TEMPLATE */
/* TEMPLATE DESKTOP */

@media screen and (min-width: 1024px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
	}

	body {
		max-width: 1920px;
		width: 100%;
		font-size: 16px;
		position: relative;
	}

	p {
		line-height: 120%;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
	}
	.section_title p {
		width: 75%;
		font-size: 1.5rem;
		padding-top: 15px;
	}

	header {
		z-index: 3;
	}

	.template_section_content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		width: 100%;
	}

	.template_section_content_element {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 15px;
	}

	/* Template landing section */

	.template_landing_section {
		width: 100%;
		height: 630px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: white;
		padding: 140px min(6vw, 140px) 30px min(6vw, 140px);
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: center;
		box-shadow: inset 0 0 0 2000px #41117770;
	}

	.template_landing_section h1,
	p,
	button {
		padding: 30px 0;
	}

	.template_landing_section p {
		width: 75%;
		font-size: 1.5rem;
		padding-top: 15px;
	}

	.template_landing_section .landing_buttons {
		display: flex;
		flex-flow: row wrap;
	}

	.template_landing_section .landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	/* Template section 1 */

	.template_section_1 {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #533ca8;
		color: white;
		padding: 50px min(6vw, 140px);
		padding-top: 0;
	}

	.template_section_1 .curve_top {
		content: "";
		position: absolute;
		top: -100px;
		left: 0;
		width: 100%;
		height: 100px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
	}

	/* Template section 2 */

	.template_section_2 {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		color: #401177;
		padding: 50px min(6vw, 140px);
	}

	.template_section_2 .curve_bottom {
		content: "";
		position: absolute;
		bottom: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/white_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
		transform: rotate(180deg);
		z-index: 1;
	}

	/* Template section 3 */

	.template_section_3 {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #401177;
		color: white;
		padding: 50px min(6vw, 140px);
		padding-top: 150px;
	}

	/* More section */

	.more_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		padding: 50px min(6vw, 140px);
	}

	/* Marquee stuff = Carousel */

	:root {
		--marquee-width: 80vw;
		--marquee-height: 250px;
		--marquee-elements-displayed: 5;
		--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
		--marquee-animation-duration: calc(var(--marquee-elements) * 3s);
	}

	.more_section .marquee {
		width: var(--marquee-width);
		height: var(--marquee-height);
		overflow: hidden;
		position: relative;
	}
	.more_section .marquee:before,
	.more_section .marquee:after {
		position: absolute;
		top: 0;
		width: 10rem;
		height: 100%;
		content: "";
		z-index: 1;
	}
	.more_section .marquee:before {
		left: 0;
	}
	.more_section .marquee:after {
		right: 0;
	}
	.more_section .marquee-content {
		list-style: none;
		height: 100%;
		display: flex;
		animation: scrolling var(--marquee-animation-duration) linear infinite;
	}

	/* .marquee-content:hover {
  animation-play-state: paused;
} */
	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
		}
	}
	.more_section .marquee-content li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: var(--marquee-element-width);
		max-height: 100%;
		font-size: calc(var(--marquee-height) * 3 / 4);
		white-space: nowrap;
		margin: 0 30px;
	}

	.more_section .marquee-content li img {
		max-width: 200px;
		max-height: 200px;
	}

	/* Template CTA section */

	.template_cta_section {
		position: relative;
		top: -125px;
	}

	/* Template footer */

	.template_footer {
		position: absolute;
		bottom: -350px;
		background-color: #533ca8;
	}
}

/* TEMPLATE MOBILE */

@media screen and (max-width: 1023px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
		font-size: 12px;
	}

	body {
		max-width: 100vw;
		width: 100%;
		position: relative;
		overflow-x: hidden;
	}

	p {
		line-height: 120%;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 2rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 15px;
	}
	.section_title p {
		font-size: 1.5rem;
	}

	header {
		z-index: 3;
	}

	.template_section_content {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		width: 100%;
	}

	.template_section_content_element {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 15px;
		min-width: 290px;
	}

	/* Template landing section */

	.template_landing_section {
		width: 100%;
		height: 700px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		padding: 140px 3vw 30px 3vw;
		background-repeat: no-repeat;
		background-size: 1023px;
		background-position: center;
		box-shadow: inset 0 0 0 2000px #41117770;
	}

	.template_landing_section h1,
	p,
	button {
		padding: 30px 0;
	}

	.template_landing_section p {
		font-size: 1.5rem;
		text-align: center;
	}

	.template_landing_section .landing_buttons {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}

	.template_landing_section .landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	/* Template section 1 */

	.template_section_1 {
		position: relative;
		top: -125px;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #533ca8;
		color: white;
		padding: 30px 3vw;
		padding-top: 0;
	}

	.template_section_1 .curve_top {
		content: "";
		position: absolute;
		top: -50px;
		left: 0;
		width: 100%;
		height: 50px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1023px;
		background-position: top;
	}

	/* Template section 2 */

	.template_section_2 {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: white;
		color: #401177;
		padding: 30px 3vw;
	}

	.template_section_2 .curve_bottom {
		content: "";
		position: absolute;
		bottom: -50px;
		width: 100%;
		height: 50px;
		background-image: url("../images/white_curve.svg");
		background-repeat: no-repeat;
		background-size: 1023px;
		background-position: top;
		transform: rotate(180deg);
		z-index: 1;
	}

	/* Template section 3 */

	.template_section_3 {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #401177;
		color: white;
		padding: 30px 3vw;
		padding-top: 100px;
	}

	/* More section */

	.more_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		padding: 30px 3vw;
	}

	/* Marquee stuff = Carousel */

	:root {
		--marquee-width: 100vw;
		--marquee-height: 250px;
		--marquee-elements-displayed: 3;
		--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
		--marquee-animation-duration: calc(var(--marquee-elements) * 3s);
	}

	@media (max-width: 500px) {
		:root {
			--marquee-elements-displayed: 2;
		}
	}

	.more_section .marquee {
		width: var(--marquee-width);
		height: var(--marquee-height);
		overflow: hidden;
		position: relative;
	}
	.more_section .marquee:before,
	.more_section .marquee:after {
		position: absolute;
		top: 0;
		width: 5rem;
		height: 100%;
		content: "";
		z-index: 1;
	}
	.more_section .marquee:before {
		left: 0;
	}
	.more_section .marquee:after {
		right: 0;
	}
	.more_section .marquee-content {
		list-style: none;
		height: 100%;
		display: flex;
		animation: scrolling var(--marquee-animation-duration) linear infinite;
	}

	/* .marquee-content:hover {
  animation-play-state: paused;
} */
	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
		}
	}
	.more_section .marquee-content li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: var(--marquee-element-width);
		max-height: 100%;
		font-size: calc(var(--marquee-height) * 3 / 4);
		white-space: nowrap;
		margin: 0 15px;
	}

	.more_section .marquee-content li img {
		max-width: 200px;
		max-height: 200px;
	}

	/* Template CTA section */

	.template_cta_section {
		position: relative;
		top: -125px;
	}

	/* Template footer */

	.template_footer {
		position: absolute;
		bottom: -750px;
		background-color: #533ca8;
	}
}
