/* MOBILE */

@media screen and (max-width: 1023px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
		font-size: 12px;
	}

	body {
		max-width: 100vw;
		width: 100%;
		position: relative;
		overflow-x: hidden;
	}

	p {
		line-height: 120%;
	}

	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 2rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.btn,
	.btn-large,
	.btn-small {
		background-color: #fb9505 !important;
	}

	.btn:hover,
	.btn-large:hover,
	.btn-small:hover {
		background-color: #f5b848 !important;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 30px;
	}
	.section_title p {
		font-size: 1.5rem;
	}

	.purple_btn {
		background-color: #401177 !important;
	}

	.purple_btn:hover {
		background-color: #533ca8 !important;
	}

	/* Header */

	header {
		width: 100%;
		height: 120px;
		background-image: url("../images/header_background_mobile.svg");
		background-repeat: no-repeat;
		background-size: 1023px;
		background-position: right top -40px;
		position: sticky;
		z-index: 2;
		top: 0;
		padding: 0 3vw;
	}

	.top_menu_bar {
		display: none;
	}

	.nav_container_mobile_logo {
		padding-top: 25px;
		width: clamp(160px, 50%, 300px);
	}

	.nav_container_mobile_social {
		height: 30px;
		padding: 5px;
		border-radius: 5px;
		background-color: #fb9505;
	}

	.sidenav-overlay {
		z-index: 1;
	}

	.subheader_row {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.close_button_nav {
		max-height: 20px;

		color: #fb9505;
		background-image: url("../images/close_x.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}

	.user-view {
		height: 80px;
		background-image: url("../images/logo_rocket.svg");
		background-repeat: no-repeat;
		background-position: right 32px center;
		background-size: 50px;
	}

	.sidenav-trigger .material-icons {
		position: absolute;
		right: 20px;
		top: 15px;
		color: white;
		font-size: 36px !important;
	}

	.nav_container {
		display: none;
	}

	.current_page {
		font-family: "MontserratBold", sans-serif;
		color: #401177 !important;
	}

	.color_orange {
		color: #fb9505 !important ;
	}

	.color_purple {
		color: #401177 !important;
	}

	/* Landing section */

	.landing_section {
		height: 650px;
		width: 100%;
		position: relative;
		top: -140px;
		background-image: url("../images/landing_background_mobile.jpg");
		background-repeat: no-repeat;
		background-position: top 50px left;
		background-size: 1023px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #401177;
		padding: 100px 3vw 0 3vw;
	}

	.landing_section_left {
		width: 90%;
		min-height: 30%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0 30px 0;
	}

	.landing_section_left h1 {
		color: #fb9505;
		text-transform: uppercase;
		font-family: "MontserratMedium", sans-serif;
		font-size: 2rem;
		letter-spacing: 9px;
		margin: 0;
	}

	.landing_section_left h2 {
		margin: 10px 0;
	}

	.landing_section_left p {
		font-family: "MontserratRegular", sans-serif;
		font-size: 1.5rem;
	}

	.landing_section_right {
		height: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.landing_section_right img {
		height: 40px;
		position: absolute;
		top: 140px;
		right: 3vw;
	}

	.landing_section_buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 130px;
	}

	/* Method section */

	.method_section {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color: white;
		background-image: url("../images/method_background_mobile.svg");
		background-repeat: no-repeat;
		background-size: 1023px;
		background-color: transparent;
		position: relative;
		top: -167px;
		padding: 3vw;
	}

	.method_section_s_right_element {
		content: "";
		background-image: url("../images/method_background_s_right_element.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 120px;
		height: 130px;
		position: absolute;
		top: 250px;
		right: min(3vw, 150px);
	}

	.method_section h2 {
		text-align: center;
	}

	.method_section ul {
		width: 75%;
	}

	.method_section li {
		padding: 0 0 20px 30px;
		background-image: url("../images/list_style_orange_square.svg");
		background-repeat: no-repeat;
		background-position: left top 2px;
		background-size: 15px;
		font-size: 1.2rem;
	}

	.method_section_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 60%;
	}
	.method_section_content img {
		width: min(60vw, 300px);
		z-index: 1;
		margin: 15px;
	}

	/* Model section */

	.model_section {
		position: relative;
		top: -167px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: #401177;
		color: white;
		padding: 3vw;
	}

	.model_section h2 {
		text-align: center;
	}

	.model_section_card_container {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		border-radius: 25px;
	}

	.model_section_card {
		position: relative;
		width: 290px;
		min-width: 290px;
		height: 296px;
		margin: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: white;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		box-sizing: border-box;
		outline: thick solid #533ca8;
	}

	.model_section_img {
		width: 130px;
		margin: 20px 0 10px 0;
	}

	.model_section_card h3 {
		width: 254px;
		min-height: 37px;
		align-self: flex-start;
		padding-top: 10px;
		font-size: 0.85rem;
		background-color: #533ca8;
		border-bottom-right-radius: 20px;
		border: thin solid #533ca8;
		box-sizing: border-box;
	}

	.model_section_card .card_circle1,
	.model_section_card .card_circle2,
	.model_section_card .card_circle3 {
		min-width: 28px;
		min-height: 28px;
		border-radius: 50px;
		content: "";
		position: absolute;
		top: 3px;
		left: 220px;
	}

	.card_circle1 {
		background-color: #401177;
	}

	.card_circle2 {
		background-color: #f5b848;
	}

	.card_circle3 {
		background-color: #fb9505;
	}

	.model_section_card p {
		color: #401177;
		font-size: 1rem;
		text-align: center;
		padding: 0 10px 20px 10px;
	}

	/* Video section */

	.video_section {
		position: relative;
		top: -167px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		background-color: white;
		color: #401177;
		background-image: url("../images/video_section_background.svg");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
		padding: 3vw;
	}

	.video_section h2 {
		width: 50%;
		text-align: center;
	}

	.video_section_content {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		min-height: 500px;
	}

	.video_section_content_left {
		width: 100%;
		min-height: 200px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
	}

	.video_section_content_left img {
		max-width: 150px;
	}

	.video_section_content .video_frame {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 4%;
		margin: 15px 0;
		border-radius: 30px;
		background-color: #401177;
		border: 10px solid #533ca8;
	}
	.presentation_video {
		width: 100%;
	}

	.video_section_content_right {
		width: 100%;
		display: flex;
		flex-flow: row reverse;
		align-items: flex-end;
		justify-content: center;
		text-align: center;
		margin-bottom: 30px;
	}

	.video_section_content_right img {
		max-width: 150px;
		width: 20vw;
		transform: scaleY(-1) rotate(-90deg);
	}

	.catalog_btn {
		height: min-content;
		width: 300px;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.catalog_btn:hover {
		background-color: #533ca8;
	}

	/* Catalog form */

	#modal_catalog_form {
		min-height: 100vh;
		width: 100%;
		top: 0 !important;
	}

	.catalog_form {
		width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 30px;
		background-color: white;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 3;
	}

	.close_button {
		min-height: 15px;
		position: absolute;
		top: 10px;
		right: 10px;
		color: #fb9505;
		background-image: url("../images/close_x.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}

	.catalog_form h3 {
		text-align: center;
	}

	.catalog_form .row {
		display: flex;
		flex-direction: column;
	}

	.catalog_form .s6 {
		width: 100% !important;
	}

	.input-field label,
	.input-field .prefix.active,
	.input-field {
		color: #401177 !important;
	}

	.input-field input:focus + label {
		color: #fb9505 !important;
	}

	.input-field input:focus {
		border-bottom: 1px solid #fb9505 !important;
		box-shadow: 0 1px 0 0 #fb9505 !important;
	}

	.input-field input.valid {
		border-bottom: 1px solid #533ca8 !important;
		box-shadow: 0 1px 0 0 #533ca8 !important;
	}

	.catalog_submit_btn {
		background-color: #fb9505 !important ;
	}

	/* Traning section */

	.training_section {
		position: relative;
		top: -167px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: #533ca8;
		background-image: url("../images/training_background.svg");
		background-repeat: no-repeat;
		background-position: left bottom;
		color: white;
		padding: 3vw;
		overflow-x: hidden;
	}

	.training_section_magnifying_glass_right_element {
		content: "";
		background-image: url("../images/magnifying_glass.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 150px;
		height: 250px;
		position: absolute;
		top: 170px;
		right: -50px;
	}

	.training_menu {
		position: relative;
		background-image: url("../images/training_menu.svg");
		background-repeat: no-repeat;
		background-size: 400px;
		background-position: center;
		height: 300px;
		min-width: 1200px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 80px 0 110px 0;
	}

	.training_menu_center {
		text-transform: uppercase;
		text-align: center;
		width: 100px;
		max-width: 100px;
		height: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1rem !important;
		background-image: url("../images/logo_s_transparent.svg");
		background-repeat: no-repeat;
		background-position: left 18px center;
		background-size: contain;
	}

	.training_menu li a {
		position: absolute;
		border-bottom: thick solid #fb9505;
		display: flex;
		padding-bottom: 5px;
		color: white;
		font-family: "MontserratBold", sans-serif;
		font-size: 1.2rem;
	}

	.training_menu li a span {
		display: flex;
		content: "";
		width: 25px;
		order: 2;
	}

	#training_menu_autres {
		top: 0px;
		left: 438px;
	}

	#training_menu_bachelor {
		top: 80px;
		left: 240px;
	}

	#training_menu_magistere {
		top: 237px;
		left: 300px;
	}

	#training_menu_cpf {
		top: 195px;
		left: 805px;
	}

	#training_menu_challenges {
		top: 35px;
		left: 735px;
	}
	#training_menu_titrepro {
		top: 275px;
		left: 600px;
	}

	@media screen and (max-width: 760px) {
		.training_menu {
			background-image: url("../images/training_menu_mobile.svg");
			background-size: 300px;
			background-position: top;
			min-height: 650px;
			margin: 15px 0;
		}

		.training_menu_center {
			align-self: flex-start;
			background-image: url("../images/logo_s_transparent.svg");
			position: relative;
			top: 110px;
		}

		#training_menu_autres {
			top: 598px;
			left: 495px;
		}

		#training_menu_bachelor {
			top: 376px;
			left: 495px;
		}

		#training_menu_magistere {
			top: 431px;
			left: 495px;
		}

		#training_menu_cpf {
			top: 542px;
			left: 495px;
		}

		#training_menu_challenges {
			top: 318px;
			left: 495px;
		}
		#training_menu_titrepro {
			top: 485px;
			left: 495px;
		}
	}

	/* Challenge section */

	.challenge_section {
		position: relative;
		top: -167px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #401177;
		color: white;
		padding: 3vw;
	}

	.challenges_container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	.challenge {
		position: relative;
		flex-basis: 30%;
		min-width: min(350px, 90vw);
		height: 300px;
		max-height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		border-radius: 30px;
		margin: 30px 15px;
	}

	.challenge_header {
		width: 100%;
		background-color: #fb9505;
		font-family: "MontserratBold", sans-serif;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		padding: 10px 0;
		border-radius: 30px 30px 0 0;
	}

	.challenge_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color: #401177;
		flex-grow: 2;
	}

	.challenge_content h3 {
		font-size: 1.2rem;
	}

	.challenge_content img {
		max-height: 100px;
	}

	.challenge_provider {
		font-size: 1.2rem;
	}

	.challenge_time {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url("../images/challenge_time.svg");
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 1rem;
	}

	.challenge_level {
		width: 80%;
		height: 40px;
		display: flex;
		justify-content: space-around;
		align-self: flex-end;
		color: #401177;
		border-radius: 30px 0;
	}

	.challenge_level p {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.challenge_level_1 {
		border-top-left-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.challenge_level_2 {
		background-color: #533ca8;
		flex-grow: 1;
	}

	.challenge_level_3 {
		border-bottom-right-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.level_on {
		color: white;
		background-color: #fb9505;
	}

	.challenge_btn {
		margin: 30px 0 50px 0;
	}

	/* Reviews section */

	.reviews_section {
		position: relative;
		z-index: 1;
		top: -167px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		background-image: url("../images/reviews_background.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1920px;
		background-color: transparent;
		padding: 3vw;
	}

	.reviews_container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;
	}

	.review {
		position: relative;
		width: 90%;
		height: 260px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #401177;
		border-radius: 30px;
		margin: 15px;
	}

	.review_name {
		width: 100%;
		font-family: "MontserratBold", sans-serif;
		background-color: #533ca8;
		color: white;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30px 30px 0 0;
	}

	.review_content {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.review_content img {
		height: min(210px, 50vw);
		border-bottom-left-radius: 30px;
	}

	.review_content_right {
		height: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.review_title {
		color: white;
		font-family: "MontserratMedium", sans-serif;
		padding: 15px 0;
	}

	.review_text {
		color: white;
		padding: 15px;
		text-align: center;
	}

	/* Project section */

	.project_section {
		position: relative;
		top: -167px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-evenly;
		background-color: #533ca8;
		color: white;
		padding: 3vw;
	}

	.project_card_container1 {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
	}

	.project_card_container2 {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
		padding-top: 100px;
	}

	@media screen and (max-width: 765px) {
		.project_card_container2 {
			padding-top: 0;
		}
	}

	.project_section_card {
		position: relative;
		width: 320px;
		min-width: 320px;
		height: 296px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: white;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		box-sizing: border-box;
		border: thick solid #533ca8;
		margin: 20px;
	}

	.project_card_header {
		width: 254px;
		min-height: 37px;
		align-self: flex-start;
		padding-top: 10px;
		background-color: #533ca8;
		border-bottom-right-radius: 20px;
		border: thin solid #533ca8;
	}

	.project_card_header h3 {
		font-size: 0.85rem;
		color: white;
	}

	.project_section_card .card_circle1,
	.project_section_card .card_circle2,
	.project_section_card .card_circle3 {
		min-width: 28px;
		min-height: 28px;
		border-radius: 50px;
		content: "";
		position: absolute;
		top: 3px;
		right: 61px;
	}

	.project_section_card p {
		color: #401177;
		font-size: 1rem;
		text-align: center;
		padding: 0 10px 20px 10px;
	}

	.project_section_img {
		width: 130px;
		margin: 20px 0 10px 0;
	}

	/* More section */

	.more_section {
		position: relative;
		top: -167px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		padding: 3vw;
	}

	.more_section .carousel-item img {
		max-width: 200px;
		max-height: 200px;
	}

	/* Handicap section */

	.handicap_section {
		position: relative;
		top: -167px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		color: white;
		background-color: #401177;
		padding: 3vw;
		padding-bottom: 40px;
	}

	.handicap_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin: 15px 0 40px 0;
	}

	.handicap_container_left {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		color: #401177;
		border-radius: 30px;
		padding: 30px 15px;
		text-align: center;
	}

	.handicap_container_left_text {
		padding-bottom: 15px;
	}

	.handicap_container_right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.handicap_container_left p {
		padding: 7.5px 15px;
	}

	.handicap_section_img {
		max-height: 200px;
		margin-top: 30px;
	}

	.handicap_button {
		align-self: center;
		margin-top: 30px;
	}

	/*footer*/

	footer {
		position: absolute;
		bottom: -620px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: transparent;
		background-image: url("../images/footer_background_mobile.svg");
		background-repeat: no-repeat;
		background-size: 1023px;
		background-position: left top;
		color: white;
		background-color: #401177;
	}

	.footer_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 50px 3vw 3vw 3vw;
	}

	.footer_container_left,
	.footer_container_middle,
	.footer_container_right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
		padding: 15px;
	}

	.footer_container li,
	.footer_container_left div,
	.footer_container_left div a,
	.footer_container_left div p {
		padding-bottom: 15px;
	}

	footer a {
		color: white;
	}

	.footer_social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 168px;
	}

	.footer_social img {
		height: 16px;
	}

	.footer_logo_studinventive {
		width: 230px;
		padding-top: 3px;
	}
	.footer_logo_studinventive,
	footer h3 {
		margin-bottom: 30px;
	}

	.footer_white_line {
		content: "";
		width: 80%;
		border: thin solid white;
	}

	.footer_container_bottom {
		text-align: center;
		padding: 15px 3vw;
	}

	.copyright {
		background-color: #1a072f;
		width: 100%;
		height: 70px;
		padding: 0 3vw;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}
