/* Desktop */

@media screen and (min-width: 1024px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
	}

	body {
		max-width: 1920px;
		width: 100%;
		font-size: 16px;
		position: relative;
		overflow-x: hidden;
	}

	p {
		line-height: 120%;
		padding: 30px 0;
	}

	button {
		padding: 30px 0;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		z-index: 2;
	}
	.section_title p,
	.landing_section p {
		width: 75%;
		font-size: 1.5rem;
		padding-top: 15px;
	}

	header {
		z-index: 3;
	}

	/* Landing section */

	.landing_section {
		width: 100%;
		height: 630px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: white;
		padding: 140px min(6vw, 140px) 30px min(6vw, 140px);
		background-image: url(../images/method_landing_background.jpg);
		background-repeat: no-repeat;
		background-size: 1925px;
		box-shadow: inset 0 0 0 2000px #41117770;
		background-position: bottom center;
	}

	.landing_section h1 {
		padding: 30px 0;
	}

	.landing_section img {
		max-width: 280px;
		position: absolute;
		bottom: 40px;
		right: min(6vw, 140px);
	}

	.landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	.white_arrow {
		width: 80px;
		height: 80px;
		position: absolute;
		bottom: -40px;
		margin: auto;
		left: 0;
		right: 0;
		z-index: 1000;
		cursor: pointer;
	}

	/* Learning section */

	.learning_section {
		position: relative;
		top: -105px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #533ca8;
		color: white;
		padding: 50px min(6vw, 140px);
		padding-top: 0;
	}

	.learning_section .curve_top {
		content: "";
		position: absolute;
		top: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
	}

	.learning_section .curve_bottom {
		content: "";
		position: absolute;
		bottom: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
		transform: rotate(180deg);
	}

	.card_container {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-evenly;
	}

	.learning_section .card_model_1 {
		z-index: 2;
	}

	.learning_section .card_model_1 h3 {
		background-color: #401177 !important;
		border: thin solid #401177 !important;
	}

	.learning_section .card_model_1 {
		outline: thick solid #401177 !important;
	}

	/* Pedagogy section */

	.pedagogy_section {
		position: relative;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		color: #401177;
		padding: 50px min(6vw, 140px);
	}

	.pedagogy_content {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.pedagogy_content p {
		margin-top: 50px;
		align-self: flex-start;
		width: 40%;
		min-width: 400px;
		z-index: 2;
	}

	.pedagogy_section .img_container img {
		position: absolute;
		height: 2100px;
		bottom: -1015px;
		left: -200px;
		z-index: 1;
	}

	/* IA section */

	.ia_section {
		position: relative;
		top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fb9505;
		color: white;
		padding: 50px min(6vw, 140px);
		padding-top: 0;
	}

	.ia_section .curve_top {
		content: "";
		position: absolute;
		top: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/orange_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
	}

	.ia_section .curve_bottom {
		content: "";
		position: absolute;
		bottom: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/orange_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
		transform: rotate(180deg);
		background-color: #401177;
	}

	.ia_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 50px;
		z-index: 2;
	}

	.ia_content p {
		flex-basis: 40%;
		min-width: 400px;
	}

	.ia_content .img_container {
		flex-basis: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ia_section img {
		width: 165px;
	}

	/* RV section */

	.rv_section {
		position: relative;
		top: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #401177;
		color: white;
		padding: 50px min(6vw, 140px);
	}

	/* Publications section */

	.publications_section {
		position: relative;
		top: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		color: #401177;
		padding: 50px min(6vw, 140px);
	}

	.publications_container {
		display: flex;
		justify-content: space-between;
	}

	.publication {
		flex-basis: 24%;
		padding: 10px;
	}

	.publication img {
		background-color: grey;
		height: 200px;
		width: 100%;
	}

	.publication h3 {
		font-size: 1.2rem;
		margin-top: 30px;
	}

	/* CTA section */

	.cta_section {
		position: relative;
		top: 200px;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -700px;
		background-color: #533ca8;
	}

	.footer_container p {
		padding: 0;
		padding-bottom: 15px;
	}
}

/* Mobile */

@media screen and (max-width: 1023px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
		font-size: 12px;
		overflow-x: hidden;
	}

	body {
		max-width: 100vw;
		width: 100%;
		position: relative;
		overflow-x: hidden;
	}

	p {
		line-height: 120%;
		padding: 30px 0;
		font-size: 1.2rem;
	}

	button {
		padding: 30px 0;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		z-index: 2;
	}
	.section_title p,
	.landing_section p {
		width: 75%;
		font-size: 1.5rem;
		padding-top: 15px;
	}

	header {
		z-index: 3;
	}

	/* Landing section */

	.landing_section {
		width: 100%;
		height: 630px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: white;
		padding: 140px 3vw 30px 3vw;
		background-image: url(../images/method_landing_background.jpg);
		background-repeat: no-repeat;
		background-size: 1925px;
		background-position: bottom center;
		box-shadow: inset 0 0 0 2000px #41117770;
	}

	.landing_section h1 {
		padding: 30px 0;
	}

	.landing_section img {
		max-width: 280px;
		position: absolute;
		bottom: 40px;
	}

	.landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	.white_arrow {
		width: 80px;
		height: 80px;
		position: absolute;
		bottom: -40px;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 1;
		cursor: pointer;
	}

	/* Learning section */

	.learning_section {
		position: relative;
		top: -105px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #533ca8;
		color: white;
		padding: 30px 3vw;
		padding-top: 0;
	}

	.learning_section .curve_top {
		content: "";
		position: absolute;
		top: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
	}

	.learning_section .curve_bottom {
		content: "";
		position: absolute;
		bottom: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
		transform: rotate(180deg);
	}

	.card_container {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-evenly;
	}

	.learning_section .card_model_1 {
		z-index: 2;
	}

	.learning_section .card_model_1 h3 {
		background-color: #401177 !important;
		border: thin solid #401177 !important;
	}

	.learning_section .card_model_1 {
		outline: thick solid #401177 !important;
	}

	/* Pedagogy section */

	.pedagogy_section {
		position: relative;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: white;
		color: #401177;
		padding: 30px 3vw;
	}

	.pedagogy_content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}

	.pedagogy_content p {
		margin-top: 200px;
		align-self: flex-start;
		z-index: 2;
	}

	.pedagogy_section .img_container img {
		position: absolute;
		height: 2100px;
		bottom: -890px;
		left: -380px;
		z-index: 1;
	}

	/* IA section */

	.ia_section {
		position: relative;
		top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: #fb9505;
		color: white;
		padding: 50px min(6vw, 140px);
		padding-top: 0;
	}

	.ia_section .curve_top {
		content: "";
		position: absolute;
		top: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/orange_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
	}

	.ia_section .curve_bottom {
		content: "";
		position: absolute;
		bottom: -100px;
		width: 100%;
		height: 100px;
		background-image: url("../images/orange_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
		transform: rotate(180deg);
		background-color: #401177;
	}

	.ia_content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 50px;
		z-index: 2;
	}

	.ia_content p {
		order: 2;
	}

	.ia_section img {
		width: 165px;
		order: 1;
	}

	/* RV section */

	.rv_section {
		position: relative;
		top: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: #401177;
		color: white;
		padding: 30px 3vw;
	}

	/* Publications section */

	.publications_section {
		position: relative;
		top: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: white;
		color: #401177;
		padding: 30px 3vw;
	}

	.publications_container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	.publication {
		flex-basis: 24%;
		min-width: 300px;
		padding: 10px;
	}

	.publication img {
		background-color: grey;
		height: 200px;
		width: 100%;
	}

	.publication h3 {
		font-size: 1.2rem;
		margin-top: 30px;
	}

	/* CTA section */

	.cta_section {
		position: relative;
		top: 200px;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -1040px;
		background-color: #533ca8;
	}

	.footer_container p {
		padding: 0;
		padding-bottom: 15px;
	}
}
