/* DESKTOP */

@media screen and (min-width: 1024px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
	}

	body {
		max-width: 1920px;
		width: 100%;
		font-size: 16px;
		position: relative;
	}

	p {
		line-height: 120%;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
	}
	.section_title p,
	.landing_section p {
		width: 75%;
		font-size: 1.5rem;
		padding-top: 15px;
	}

	header {
		z-index: 3;
	}

	/* Landing section */

	.landing_section {
		width: 100%;
		height: 630px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: white;
		padding: 140px min(6vw, 140px) 30px min(6vw, 140px);
		background-image: url(../images/partenariat_landing_background.jpg);
		background-repeat: no-repeat;
		background-size: 1925px;
		background-position: bottom -100px center;
		box-shadow: inset 0 0 0 2000px #41117770;
	}

	.landing_section h1,
	p,
	button {
		padding: 30px 0;
		z-index: 1;
	}

	.landing_section img {
		max-width: 280px;
		position: absolute;
		bottom: 30px;
		right: min(6vw, 140px);
		z-index: 1;
	}

	.landing_buttons {
		display: flex;
		flex-flow: row wrap;
		z-index: 2;
	}

	.landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	/* Project section */

	.project_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		background-color: #533ca8;
		color: white;
		padding: 50px min(6vw, 140px);
		padding-top: 0;
	}

	.project_left_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 80%;
		margin-right: 1%;
	}

	@media screen and (max-width: 1160px) {
		.project_left_content h2 {
			font-size: 2.5rem;
		}
	}

	.project_left_content img {
		align-self: flex-start;
		width: 40%;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.project_card_container1 {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
	}

	.project_card_container2 {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
		padding-top: 100px;
	}

	.project_section .card_model_1 h3 {
		background-color: #401177 !important;
		border: thin solid #401177 !important;
	}

	.project_section .card_model_1 {
		outline: thick solid #401177 !important;
	}

	.curve_top {
		content: "";
		position: absolute;
		top: -100px;
		left: 0;
		width: 100%;
		height: 100px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
	}

	/* Participate section */

	.participate_section {
		position: relative;
		top: -125px;
		min-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 50px min(6vw, 140px);
		color: #401177;
		background-color: #efefef;
	}

	.participate_section img {
		width: 270px;
		position: absolute;
		left: min(6vw, 140px);
		bottom: -130px;
	}

	/* More section */

	.more_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		padding: 50px min(6vw, 140px);
	}

	/* Marquee stuff = Carousel */

	:root {
		--marquee-width: 80vw;
		--marquee-height: 250px;
		--marquee-elements-displayed: 5;
		--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
		--marquee-animation-duration: calc(var(--marquee-elements) * 3s);
	}

	.more_section .marquee {
		width: var(--marquee-width);
		height: var(--marquee-height);
		overflow: hidden;
		position: relative;
	}
	.more_section .marquee:before,
	.more_section .marquee:after {
		position: absolute;
		top: 0;
		width: 10rem;
		height: 100%;
		content: "";
		z-index: 1;
	}
	.more_section .marquee:before {
		left: 0;
	}
	.more_section .marquee:after {
		right: 0;
	}
	.more_section .marquee-content {
		list-style: none;
		height: 100%;
		display: flex;
		animation: scrolling var(--marquee-animation-duration) linear infinite;
	}

	/* .marquee-content:hover {
  animation-play-state: paused;
} */
	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
		}
	}
	.more_section .marquee-content li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: var(--marquee-element-width);
		max-height: 100%;
		font-size: calc(var(--marquee-height) * 3 / 4);
		white-space: nowrap;
		margin: 0 30px;
	}

	.more_section .marquee-content li img {
		max-width: 200px;
		max-height: 200px;
	}

	/* CTA section */

	.cta_section {
		position: relative;
		top: -125px;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -350px;
		background-color: #533ca8;
	}
}

/* MOBILE */

@media screen and (max-width: 1023px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		font-family: "MontserratRegular", sans-serif;
		font-size: 12px;
	}

	body {
		max-width: 100vw;
		width: 100%;
		position: relative;
		overflow-x: hidden;
	}

	p {
		line-height: 120%;
	}

	h1,
	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 2rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin-bottom: 30px;
	}
	.section_title p {
		font-size: 1.5rem;
	}

	header {
		z-index: 3;
	}

	/* Landing section */

	.landing_section {
		width: 100%;
		height: 700px;
		position: relative;
		top: -120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		padding: 140px 3vw 30px 3vw;
		background-image: url(../images/partenariat_landing_background.jpg);
		background-repeat: no-repeat;
		background-size: 1500px;
		background-position: bottom center;
		box-shadow: inset 0 0 0 2000px #41117770;
	}

	.landing_section h1,
	p,
	button {
		padding: 30px 0;
		z-index: 1;
	}

	.landing_section p {
		font-size: 1.5rem;
		text-align: center;
	}

	.landing_section img {
		max-width: 280px;
		position: absolute;
		bottom: 30px;
		right: 3vw;
		z-index: 1;
	}

	.landing_buttons {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		z-index: 2;
	}

	.landing_buttons a {
		margin: 15px 15px 15px 0;
	}

	/* Project section */

	.project_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		background-color: #533ca8;
		color: white;
		padding: 30px 3vw;
		padding-top: 0;
	}

	.project_left_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-right: 1%;
	}

	@media screen and (max-width: 1160px) {
		.project_left_content h2 {
			font-size: 2.5rem;
		}
	}

	.project_left_content img {
		align-self: flex-start;
		width: 60%;
		min-width: 300px;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		margin-bottom: 50px;
	}

	.project_card_container1 {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
	}

	.project_card_container2 {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-between;
		padding-top: 100px;
	}

	@media screen and (max-width: 680px) {
		.project_card_container2 {
			padding-top: 0;
		}
	}

	.project_section .card_model_1 h3 {
		background-color: #401177 !important;
		border: thin solid #401177 !important;
	}

	.project_section .card_model_1 {
		outline: thick solid #401177 !important;
	}

	.curve_top {
		content: "";
		position: absolute;
		top: -100px;
		left: 0;
		width: 100%;
		height: 100px;
		background-image: url("../images/purple_curve.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: top;
	}

	/* Participate section */

	.participate_section {
		position: relative;
		top: -125px;
		min-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 30px 3vw;
		color: #401177;
		background-color: #efefef;
	}

	.participate_section img {
		width: 270px;
		position: absolute;
		left: 3vw;
		bottom: -130px;
		opacity: 0.2;
	}

	/* More section */

	.more_section {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		padding: 30px 3vw;
	}

	/* Marquee stuff = Carousel */

	:root {
		--marquee-width: 100vw;
		--marquee-height: 250px;
		--marquee-elements-displayed: 3;
		--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
		--marquee-animation-duration: calc(var(--marquee-elements) * 3s);
	}

	@media (max-width: 500px) {
		:root {
			--marquee-elements-displayed: 2;
		}
	}

	.more_section .marquee {
		width: var(--marquee-width);
		height: var(--marquee-height);
		overflow: hidden;
		position: relative;
	}
	.more_section .marquee:before,
	.more_section .marquee:after {
		position: absolute;
		top: 0;
		width: 5rem;
		height: 100%;
		content: "";
		z-index: 1;
	}
	.more_section .marquee:before {
		left: 0;
	}
	.more_section .marquee:after {
		right: 0;
	}
	.more_section .marquee-content {
		list-style: none;
		height: 100%;
		display: flex;
		animation: scrolling var(--marquee-animation-duration) linear infinite;
	}

	/* .marquee-content:hover {
  animation-play-state: paused;
} */
	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
		}
	}
	.more_section .marquee-content li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: var(--marquee-element-width);
		max-height: 100%;
		font-size: calc(var(--marquee-height) * 3 / 4);
		white-space: nowrap;
		margin: 0 15px;
	}

	.more_section .marquee-content li img {
		max-width: 200px;
		max-height: 200px;
	}

	/* CTA section */

	.cta_section {
		position: relative;
		top: -125px;
	}

	/* Footer */

	footer {
		position: absolute;
		bottom: -750px;
		background-color: #533ca8;
	}
}
