/* GENERAL */

@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/MontserratRegular.eot");
	src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"),
		url("../fonts/MontserratRegular.woff2") format("woff2"),
		url("../fonts/MontserratRegular.woff") format("woff"),
		url("../fonts/MontserratRegular.ttf") format("truetype"),
		url("../fonts/MontserratRegular.svg#MontserratRegular") format("svg");
}

@font-face {
	font-family: "MontserratMedium";
	src: url("../fonts/MontserratMedium.eot");
	src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"),
		url("../fonts/MontserratMedium.woff2") format("woff2"),
		url("../fonts/MontserratMedium.woff") format("woff"),
		url("../fonts/MontserratMedium.ttf") format("truetype"),
		url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/MontserratBold.eot");
	src: url("../fonts/MontserratBold.eot") format("embedded-opentype"),
		url("../fonts/MontserratBold.woff2") format("woff2"),
		url("../fonts/MontserratBold.woff") format("woff"),
		url("../fonts/MontserratBold.ttf") format("truetype"),
		url("../fonts/MontserratBold.svg#MontserratBold") format("svg");
}

@font-face {
	font-family: "MontserratExtraBold";
	src: url("../fonts/MontserratExtraBold.eot");
	src: url("../fonts/MontserratExtraBold.eot") format("embedded-opentype"),
		url("../fonts/MontserratExtraBold.woff2") format("woff2"),
		url("../fonts/MontserratExtraBold.woff") format("woff"),
		url("../fonts/MontserratExtraBold.ttf") format("truetype"),
		url("../fonts/MontserratExtraBold.svg#MontserratExtraBold") format("svg");
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: "MontserratRegular", sans-serif;
	}

	body {
		max-width: 1920px;
		width: 100%;
		font-size: 16px;
	}

	p {
		line-height: 120%;
	}

	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	.orange_button {
		background-color: #f5b848;
		height: 50px;
		width: 250px;
		border-radius: 20px;
		color: white;
		font-family: "MontserratMedium";
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.purple_button {
		background-color: #39277d;
		height: 50px;
		width: 250px;
		border-radius: 20px;
		color: white;
		font-family: "MontserratMedium";
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	/* Header */

	header {
		width: 100%;
		height: 120px;
		background-image: url("../images/header_background.svg");
		background-repeat: no-repeat;
		background-size: 1950px;
		background-position: right;
		position: sticky;
		z-index: 1;
		top: 0;
	}

	.top_menu_bar {
		height: 40px;
		width: 100%;
		background-color: black;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}
	.top_menu_bar_social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 3vw;
		width: 168px;
	}

	.top_menu_bar_social img {
		height: 16px;
	}

	.top_menu_bar_links {
		margin-right: 3vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	.top_menu_bar_links a {
		display: flex;
		align-items: center;
		color: white;
		font-size: 14px;
		margin-left: 20px;
	}

	.top_menu_bar_links img {
		height: 16px;
		padding: 0 10px;
	}

	.nav_container {
		height: 58%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: sticky;
	}

	.nav_logo_studinventive {
		width: 10vw;
		min-width: 150px;
		margin-left: 3vw;
	}

	nav {
		height: 58%;
		display: flex;
		align-items: center;
		font-family: "MontserratBold", sans-serif;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}

	nav ul {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		margin-top: 6px;
		justify-content: flex-end;
		font-family: "MontserratBold", sans-serif;
		font-size: 1.25rem;
		text-transform: uppercase;
	}

	nav ul a:hover {
		background-color: transparent;
		color: #39277d;
	}

	nav ul a {
		padding: 0 1vw 0 0;
		color: black;
		font-size: 14px;
	}

	.nav_li_campus a {
		padding: 0 15px 0 2vw;
		color: white;
	}

	#dropdown1 a {
		color: black;
	}

	nav .dropdown-content {
		min-height: 290px;
		min-width: max-content;
		overflow-y: visible;
		box-shadow: 0 2px 2px 0 #533ca8, 0 3px 1px -2px #533ca8, 0 1px 5px 0 #533ca8;
	}

	nav .dropdown-content li {
		min-height: 0px;
	}

	nav .dropdown-content a {
		padding: 10px;
		font-size: 14px;
		text-transform: capitalize;
	}

	nav .dropdown-content a:hover {
		color: white !important;
		background-color: transparent;
	}

	nav .dropdown-content li:hover {
		background-color: #533ca8;
	}

	/* Landing section */

	.landing_section {
		height: 1000px;
		width: 100%;
		position: relative;
		top: -120px;
		background-image: url("../images/landing_background.jpg");
		background-repeat: no-repeat;
		background-position: top left;
		display: flex;
		justify-content: space-around;
	}

	.landing_section_left {
		padding-top: 150px;
		width: 60%;
	}

	.landing_section_left h1 {
		color: #fb9505;
		text-transform: uppercase;
		font-family: "MontserratMedium", sans-serif;
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.landing_section_left h2 {
		margin: 0 0 40px 0;
	}

	.landing_section_left p {
		font-family: "MontserratRegular", sans-serif;
		font-size: 1.5rem;
	}

	.landing_section_right {
		align-self: bottom;
		padding-bottom: 220px;
		height: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		align-self: flex-end;
	}

	.landing_section_right img {
		height: 167px;
	}

	.landing_section_buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 130px;
		margin-top: 40px;
	}

	/* Method section */

	.method_section {
		height: 975px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #533ca8;
		color: white;
		background-image: url("../images/method_background.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-color: transparent;
		position: relative;
		top: -225px;
	}

	.method_section_s_right_element {
		content: "";
		background-image: url("../images/method_background_s_right_element.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 120px;
		height: 130px;
		position: absolute;
		top: 250px;
		right: 3vw;
	}

	.method_section ul {
		width: 40%;
		padding-left: 3vw;
	}

	.method_section li {
		padding: 0 0 20px 30px;
		background-image: url("../images/list_style_orange_square.svg");
		background-repeat: no-repeat;
		background-position: left top 2px;
		background-size: 15px;
	}

	.method_section_content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 350px;
	}
	.method_section_content img {
		height: 280px;
	}

	.method_section a {
		display: flex;
		background-color: #f5b848;
	}

	/* Model section */

	.model_section {
		height: 1080px;
		width: 100%;
		position: relative;
		display: flex;
		background-color: #39277d;
		color: white;
	}

	.model_section h2 {
		font-family: "MontserratBold", sans-serif;
		font-size: 4rem;
	}

	.model_section_img {
		height: 130px;
	}
}
