/* GENERAL */

@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/MontserratRegular.eot");
	src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"),
		url("../fonts/MontserratRegular.woff2") format("woff2"),
		url("../fonts/MontserratRegular.woff") format("woff"),
		url("../fonts/MontserratRegular.ttf") format("truetype"),
		url("../fonts/MontserratRegular.svg#MontserratRegular") format("svg");
}

@font-face {
	font-family: "MontserratMedium";
	src: url("../fonts/MontserratMedium.eot");
	src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"),
		url("../fonts/MontserratMedium.woff2") format("woff2"),
		url("../fonts/MontserratMedium.woff") format("woff"),
		url("../fonts/MontserratMedium.ttf") format("truetype"),
		url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg");
}

@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/MontserratBold.eot");
	src: url("../fonts/MontserratBold.eot") format("embedded-opentype"),
		url("../fonts/MontserratBold.woff2") format("woff2"),
		url("../fonts/MontserratBold.woff") format("woff"),
		url("../fonts/MontserratBold.ttf") format("truetype"),
		url("../fonts/MontserratBold.svg#MontserratBold") format("svg");
}

@font-face {
	font-family: "MontserratExtraBold";
	src: url("../fonts/MontserratExtraBold.eot");
	src: url("../fonts/MontserratExtraBold.eot") format("embedded-opentype"),
		url("../fonts/MontserratExtraBold.woff2") format("woff2"),
		url("../fonts/MontserratExtraBold.woff") format("woff"),
		url("../fonts/MontserratExtraBold.ttf") format("truetype"),
		url("../fonts/MontserratExtraBold.svg#MontserratExtraBold") format("svg");
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
	html {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: "MontserratRegular", sans-serif;
	}

	body {
		max-width: 1920px;
		width: 100%;
		font-size: 16px;
	}

	p {
		line-height: 120%;
	}

	h2 {
		font-family: "MontserratExtraBold", sans-serif;
		font-size: 3rem;
	}

	h3 {
		margin: 0;
		font-size: 2rem;
		font-family: "MontserratBold", sans-serif;
	}

	.orange_button {
		background-color: #fb9505;
		height: 50px;
		width: 250px;
		border-radius: 15px;
		color: white;
		font-family: "MontserratMedium";
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		transition: 0.4s;
	}

	.purple_button {
		background-color: #401177;
		height: 50px;
		width: 250px;
		border-radius: 15px;
		color: white;
		font-family: "MontserratMedium";
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		transition: 0.2s linear;
	}

	.orange_button:hover,
	.purple_button:hover {
		transform: scale(1.1);
	}

	.section_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
	}
	.section_title p {
		width: 75%;
		font-size: 1.5rem;
	}

	/* Header */

	header {
		width: 100%;
		height: 120px;
		background-image: url("../images/header_background.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: right top;
		position: sticky;
		z-index: 2;
		top: 0;
		padding: 0 min(3vw, 70px);
		transition: 0.4s;
	}

	.top_menu_bar {
		height: 40px;
		width: 100%;
		background-color: #222222;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		padding: 0 min(3vw, 70px);
	}
	.top_menu_bar_social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 168px;
	}

	.top_menu_bar_social img {
		height: 16px;
	}

	.top_menu_bar_links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	.top_menu_bar_links a {
		width: 184px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-size: 14px;
		padding: 0 0 0 70px;
	}

	.top_menu_bar_links img {
		height: 16px;
	}

	.nav_container {
		height: 58%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: sticky;
	}

	.nav_logo_studinventive {
		height: 25px;
	}

	@media screen and (max-width: 1239px) {
		.nav_logo_studinventive {
			height: 0;
		}
		.nav_logo_rocket {
			height: 50px;
		}
	}

	.current_page {
		font-family: "MontserratBold", sans-serif;
		color: #401177;
	}

	nav {
		height: 58%;
		display: flex;
		align-items: center;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}

	nav ul {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		margin-top: 6px;
		justify-content: flex-end;
		font-family: "Montserrat", sans-serif;
		font-size: 1.25rem;
		text-transform: uppercase;
	}

	nav ul a:hover {
		background-color: transparent;
		color: #401177;
	}

	nav ul a {
		padding: 0 5px 0;
		color: black;
		font-size: 14px;
	}

	.nav_li_campus a {
		color: white;
		padding: 0 0 0 70px;
	}

	#dropdown1 a {
		color: black;
	}

	nav .dropdown-content {
		min-height: 290px;
		min-width: max-content;
		overflow-y: visible;
		box-shadow: 0 2px 2px 0 #533ca8, 0 3px 1px -2px #533ca8, 0 1px 5px 0 #533ca8;
	}

	nav .dropdown-content li {
		min-height: 0px;
	}

	nav .dropdown-content a {
		padding: 10px;
		font-size: 14px;
		text-transform: capitalize;
	}

	nav .dropdown-content a:hover {
		color: white !important;
		background-color: transparent;
	}

	nav .dropdown-content li:hover {
		background-color: #533ca8;
	}

	/* Landing section */

	.landing_section {
		height: 820px;
		width: 100%;
		position: relative;
		top: -120px;
		padding-top: 180px;
		background-image: url("../images/landing_background.jpg");
		background-repeat: no-repeat;
		background-position: top -38px left;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		color: #401177;
	}

	.landing_section_left {
		width: 60%;
	}

	.landing_section_left h1 {
		color: #fb9505;
		text-transform: uppercase;
		font-family: "MontserratMedium", sans-serif;
		font-size: 2rem;
		margin: 0 0 20px 0;
		letter-spacing: 9px;
	}

	.landing_section_left h2 {
		margin: 0 0 40px 0;
	}

	.landing_section_left p {
		font-family: "MontserratRegular", sans-serif;
		font-size: 1.5rem;
	}

	.landing_section_right {
		height: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.landing_section_right img {
		height: 167px;
	}

	.landing_section_buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 130px;
		margin-top: 40px;
	}

	/* Method section */

	.method_section {
		height: 600px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: white;
		background-image: url("../images/method_background.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-color: transparent;
		position: relative;
		top: -310px;
		padding: 0 min(3vw, 70px);
	}

	.method_section_s_right_element {
		content: "";
		background-image: url("../images/method_background_s_right_element.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 120px;
		height: 130px;
		position: absolute;
		top: 250px;
		right: min(3vw, 150px);
	}

	.method_section h2 {
		text-align: center;
	}

	.method_section ul {
		width: 40%;
		padding-left: min(3vw, 150px);
	}

	.method_section li {
		padding: 0 0 20px 30px;
		background-image: url("../images/list_style_orange_square.svg");
		background-repeat: no-repeat;
		background-position: left top 2px;
		background-size: 15px;
	}

	.method_section_content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 300px;
	}
	.method_section_content img {
		height: 280px;
	}

	/* Model section */

	.model_section {
		position: relative;
		top: -310px;
		height: 600px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #401177;
		color: white;
		padding: 0 min(3vw, 70px);
	}

	.model_section h2 {
		text-align: center;
	}

	.model_section_card_container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-radius: 25px;
	}

	.model_section_card {
		position: relative;
		width: 320px;
		min-width: 320px;
		height: 296px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: white;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		box-sizing: border-box;
		border: thick solid #533ca8;
	}

	.model_section_img {
		width: 130px;
		margin: 20px 0 10px 0;
	}

	.model_section_card h3 {
		width: 254px;
		min-height: 37px;
		align-self: flex-start;
		padding-top: 10px;
		font-size: 0.85rem;
		background-color: #533ca8;
		border-bottom-right-radius: 20px;
		border: thin solid #533ca8;
	}

	.model_section_card .card_circle1,
	.model_section_card .card_circle2,
	.model_section_card .card_circle3 {
		min-width: 28px;
		min-height: 28px;
		border-radius: 50px;
		content: "";
		position: absolute;
		top: 3px;
		right: 61px;
	}

	.card_circle1 {
		background-color: #401177;
	}

	.card_circle2 {
		background-color: #f5b848;
	}

	.card_circle3 {
		background-color: #fb9505;
	}

	.model_section_card p {
		color: #401177;
		font-size: 1rem;
		text-align: center;
		padding: 0 10px 20px 10px;
	}

	/* Video section */

	.video_section {
		position: relative;
		top: -310px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 900px;
		width: 100%;
		background-color: white;
		color: #401177;
		background-image: url("../images/video_section_background.svg");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
		padding: 0 min(3vw, 70px);
	}

	.video_section h2 {
		width: 50%;
		text-align: center;
	}

	.video_section_content {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		width: 100%;
		min-height: 320px;
	}

	.video_section_content_left {
		height: 100%;
		max-width: 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.video_section_content_left img {
		max-width: 100%;
	}

	.video_section_content .video_frame {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 4%;
		border-radius: 30px;
		background-color: #401177;
		border: 10px solid #533ca8;
	}
	.presentation_video {
		width: 100%;
	}

	.video_section_content_right {
		height: 75%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		text-align: center;
	}

	.video_section_content_right img {
		max-width: min(15vw, 300px);
	}

	/* Traning section */

	.training_section {
		position: relative;
		top: -310px;
		height: 900px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: #533ca8;
		background-image: url("../images/training_background.svg");
		background-repeat: no-repeat;

		background-position: left bottom;
		color: white;
		padding: 0 min(3vw, 70px);
		overflow-x: hidden;
	}

	.training_section_magnifying_glass_right_element {
		content: "";
		background-image: url("../images/magnifying_glass.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 300px;
		height: 500px;
		position: absolute;
		top: 170px;
		right: -50px;
	}

	.training_menu {
		position: relative;
		background-image: url("../images/training_menu.svg");
		background-repeat: no-repeat;
		background-size: 500px;
		background-position: center;
		height: 300px;
		min-width: 1200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.training_menu_center {
		text-transform: uppercase;
		text-align: center;
		width: 130px;
		max-width: 130px;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1rem !important;
		background-image: url("../images/logo_s_transparent.svg");
		background-repeat: no-repeat;
		background-position: left 18px center;
		background-size: contain;
	}

	.training_menu li a {
		position: absolute;
		border-bottom: thick solid #fb9505;
		display: flex;
		padding-bottom: 5px;
		color: white;
		font-family: "MontserratBold", sans-serif;
		font-size: 1.2rem;
	}

	.training_menu li a span {
		display: flex;
		content: "";
		width: 25px;
	}

	#training_menu_autres {
		top: -40px;
		left: 405px;
	}

	#training_menu_bachelor {
		top: 60px;
		left: 143px;
	}

	#training_menu_magistere {
		top: 255px;
		left: 222px;
	}

	#training_menu_cpf {
		top: 208px;
		left: 870px;
	}

	#training_menu_challenges {
		top: 12px;
		left: 785px;
	}
	#training_menu_titrepro {
		top: 310px;
		left: 600px;
	}

	/* Challenge section */

	.challenge_section {
		position: relative;
		top: -310px;
		min-height: 1170px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #401177;
		color: white;
		padding: 0 min(3vw, 70px);
	}

	.challenges_container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		width: 100%;
	}

	.challenge {
		position: relative;
		width: 400px;
		height: 300px;
		max-height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		border-radius: 30px;
		margin: 30px 2%;
	}

	.challenge_header {
		width: 100%;
		background-color: #fb9505;
		font-family: "MontserratBold", sans-serif;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		padding: 10px 0;
		border-radius: 30px 30px 0 0;
	}

	.challenge_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color: #401177;
		flex-grow: 2;
	}

	.challenge_content h3 {
		font-size: 1.2rem;
	}

	.challenge_content img {
		max-height: 100px;
	}

	.challenge_provider {
		font-size: 1.2rem;
	}

	.challenge_time {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url("../images/challenge_time.svg");
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 1rem;
	}

	.challenge_level {
		width: 80%;
		height: 40px;
		display: flex;
		justify-content: space-around;
		align-self: flex-end;
		color: #401177;
		border-radius: 30px 0;
	}

	.challenge_level p {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.challenge_level_1 {
		border-top-left-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.challenge_level_2 {
		background-color: #533ca8;
		flex-grow: 1;
	}

	.challenge_level_3 {
		border-bottom-right-radius: 30px;
		background-color: #533ca8;
		flex-grow: 1;
	}

	.level_on {
		color: white;
		background-color: #fb9505;
	}

	.challenge_button {
		margin: 30px 0 50px 0;
	}

	/* Reviews section */

	.reviews_section {
		position: relative;
		z-index: 1;
		top: -380px;
		min-height: 900px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		background-image: url("../images/reviews_background.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1920px;
		background-color: transparent;
		padding: 0 min(3vw, 70px);
	}

	.reviews_container {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin-bottom: 30px;
	}

	.review {
		position: relative;
		width: 600px;
		height: 300px;
		max-height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #401177;
		border-radius: 30px;
		margin: 15px;
	}

	.review_name {
		width: 100%;
		font-family: "MontserratBold", sans-serif;
		background-color: #533ca8;
		color: white;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30px 30px 0 0;
	}

	.review_content {
		max-height: 240px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.review_content img {
		height: 240px;
		width: 210px;
		border-bottom-left-radius: 30px;
	}

	.review_content_right {
		height: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.review_title {
		color: white;
		font-family: "MontserratMedium", sans-serif;
		padding: 15px 0;
	}

	.review_text {
		color: white;
		padding: 15px;
		text-align: center;
	}

	/* Project section */

	.project_section {
		position: relative;
		top: -450px;
		height: 900px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #533ca8;
		color: white;
		padding: 0 min(3vw, 70px);
	}

	.project_card_container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	.project_section_card {
		position: relative;
		width: 320px;
		min-width: 320px;
		height: 296px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background-color: white;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		box-sizing: border-box;
		border: thick solid #533ca8;
		margin: 30px;
	}

	.project_card_header {
		width: 254px;
		min-height: 37px;
		align-self: flex-start;
		padding-top: 10px;
		background-color: #533ca8;
		border-bottom-right-radius: 20px;
		border: thin solid #533ca8;
	}

	.project_card_header h3 {
		font-size: 0.85rem;
		color: white;
	}

	.project_section_card .card_circle1,
	.project_section_card .card_circle2,
	.project_section_card .card_circle3 {
		min-width: 28px;
		min-height: 28px;
		border-radius: 50px;
		content: "";
		position: absolute;
		top: 3px;
		right: 61px;
	}

	.project_section_card p {
		color: #401177;
		font-size: 1rem;
		text-align: center;
		padding: 0 10px 20px 10px;
	}

	.project_section_img {
		width: 130px;
		margin: 20px 0 10px 0;
	}

	/* More section */

	.more_section {
		position: relative;
		top: -450px;
		height: 600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: #401177;
		padding: 0 min(3vw, 70px);
	}

	.carousel-item img {
		max-width: 200px;
		max-height: 200px;
	}

	/* Handicap section */

	.handicap_section {
		position: relative;
		top: -450px;
		height: 700px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		color: white;
		background-color: #401177;
		padding: 0 min(3vw, 70px);
	}

	.handicap_container {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.handicap_container_left {
		width: 66%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.handicap_container_right {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.handicap_container_left p {
		padding: 7.5px 15px;
	}

	.handicap_section_img {
		max-height: 400px;
	}

	.contact_button {
		align-self: center;
		margin: 30px;
	}

	/*footer*/

	footer {
		position: relative;
		top: -550px;
		height: 550px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
		background-image: url("../images/footer_background.svg");
		background-repeat: no-repeat;
		background-size: 1920px;
		background-position: left top;
		color: white;
	}

	.footer_container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;

		padding: 100px 70px 0 70px;
	}

	.footer_container_left,
	.footer_container_middle,
	.footer_container_right {
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.footer_container li,
	.footer_container_left div,
	.footer_container_left div a,
	.footer_container_left div p {
		padding-bottom: 15px;
	}

	footer a {
		color: white;
	}

	.footer_social {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 168px;
	}

	.footer_social img {
		height: 16px;
	}

	.footer_logo_studinventive {
		width: 230px;
		padding-top: 3px;
	}
	.footer_logo_studinventive,
	footer h3 {
		margin-bottom: 30px;
	}

	.footer_white_line {
		content: "";
		height: 100%;
		border: thin solid white;
	}

	.footer_container_bottom {
		text-align: center;
		padding: 0 min(3vw, 70px);
	}

	.copyright {
		background-color: #1a072f;
		width: 100%;
		height: 70px;
		padding: 0 min(3vw, 70px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
